In [68]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [69]:
import numpy as np
import pandas as pd

In [70]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [71]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [72]:
# Create an engine that can talk to the database
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [73]:
# reflect an existing database into a new model
# pass in database connection, and use it to prepare my base class
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [74]:
# Save references to each table
Station = Base.classes.station
Measurement = Base.classes.measurement

In [75]:
# Create our session (link) from Python to the DB
# Create a session 
session = Session(engine)

In [76]:
conn = engine.connect()
data = engine.execute("SELECT * FROM station;")

for record in data: 
    print(record)

(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0)
(2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6)
(3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0)
(4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)
(5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)
(6, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5)
(7, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9)
(8, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9)
(9, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4)

In [78]:
data_msmt = pd.read_sql("SELECT * FROM measurement", conn)
data_msmt.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [79]:
# Inspect the data
Station.__table__.columns.values()

[Column('id', INTEGER(), table=<station>, primary_key=True, nullable=False),
 Column('station', TEXT(), table=<station>),
 Column('name', TEXT(), table=<station>),
 Column('latitude', FLOAT(), table=<station>),
 Column('longitude', FLOAT(), table=<station>),
 Column('elevation', FLOAT(), table=<station>)]

In [80]:
Measurement.__table__.columns.values()

[Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False),
 Column('station', TEXT(), table=<measurement>),
 Column('date', TEXT(), table=<measurement>),
 Column('prcp', FLOAT(), table=<measurement>),
 Column('tobs', FLOAT(), table=<measurement>)]

In [81]:


# Display the row's columns and data in dictionary format
first_row = session.query(Station).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x11a0203c8>,
 'elevation': 3.0,
 'latitude': 21.2716,
 'station': 'USC00519397',
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'id': 1}

In [82]:
# Display the row's columns and data in dictionary format
first_row = session.query(Measurement).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x11a020da0>,
 'tobs': 65.0,
 'date': '2010-01-01',
 'id': 1,
 'prcp': 0.08,
 'station': 'USC00519397'}

In [83]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [84]:
columns = inspector.get_columns('station')
for column in columns: 
    print(column['name'], column['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [85]:
columns = inspector.get_columns('measurement')
for column in columns: 
    print(column['name'], column['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [86]:
session.query(Measurement.date).all()

[('2010-01-01'),
 ('2010-01-02'),
 ('2010-01-03'),
 ('2010-01-04'),
 ('2010-01-06'),
 ('2010-01-07'),
 ('2010-01-08'),
 ('2010-01-09'),
 ('2010-01-10'),
 ('2010-01-11'),
 ('2010-01-12'),
 ('2010-01-14'),
 ('2010-01-15'),
 ('2010-01-16'),
 ('2010-01-17'),
 ('2010-01-18'),
 ('2010-01-19'),
 ('2010-01-20'),
 ('2010-01-21'),
 ('2010-01-22'),
 ('2010-01-23'),
 ('2010-01-24'),
 ('2010-01-25'),
 ('2010-01-26'),
 ('2010-01-27'),
 ('2010-01-28'),
 ('2010-01-30'),
 ('2010-01-31'),
 ('2010-02-01'),
 ('2010-02-03'),
 ('2010-02-04'),
 ('2010-02-05'),
 ('2010-02-06'),
 ('2010-02-07'),
 ('2010-02-08'),
 ('2010-02-09'),
 ('2010-02-11'),
 ('2010-02-12'),
 ('2010-02-13'),
 ('2010-02-14'),
 ('2010-02-15'),
 ('2010-02-16'),
 ('2010-02-17'),
 ('2010-02-19'),
 ('2010-02-20'),
 ('2010-02-21'),
 ('2010-02-22'),
 ('2010-02-23'),
 ('2010-02-24'),
 ('2010-02-25'),
 ('2010-02-26'),
 ('2010-02-28'),
 ('2010-03-01'),
 ('2010-03-02'),
 ('2010-03-03'),
 ('2010-03-04'),
 ('2010-03-05'),
 ('2010-03-06'),
 ('2010-03-07'),
 ('2010-03-08'),
 ('2010-03-09'),
 ('2010-03-11'),
 ('2010-03-12'),
 ('2010-03-13'),
 ('2010-03-14'),
 ('2010-03-15'),
 ('2010-03-17'),
 ('2010-03-18'),
 ('2010-03-21'),
 ('2010-03-22'),
 ('2010-03-23'),
 ('2010-03-24'),
 ('2010-03-26'),
 ('2010-03-27'),
 ('2010-03-28'),
 ('2010-03-29'),
 ('2010-03-30'),
 ('2010-03-31'),
 ('2010-04-01'),
 ('2010-04-02'),
 ('2010-04-03'),
 ('2010-04-04'),
 ('2010-04-05'),
 ('2010-04-06'),
 ('2010-04-08'),
 ('2010-04-09'),
 ('2010-04-10'),
 ('2010-04-11'),
 ('2010-04-12'),
 ('2010-04-13'),
 ('2010-04-15'),
 ('2010-04-16'),
 ('2010-04-17'),
 ('2010-04-18'),
 ('2010-04-19'),
 ('2010-04-20'),
 ('2010-04-21'),
 ('2010-04-22'),
 ('2010-04-23'),
 ('2010-04-24'),
 ('2010-04-25'),
 ('2010-04-26'),
 ('2010-04-28'),
 ('2010-04-30'),
 ('2010-05-01'),
 ('2010-05-02'),
 ('2010-05-03'),
 ('2010-05-04'),
 ('2010-05-05'),
 ('2010-05-06'),
 ('2010-05-07'),
 ('2010-05-08'),
 ('2010-05-09'),
 ('2010-05-10'),
 ('2010-05-11'),
 ('2010-05-13'),
 ('2010-05-14'),
 ('2010-05-15'),
 ('2010-05-16'),
 ('2010-05-17'),
 ('2010-05-18'),
 ('2010-05-19'),
 ('2010-05-21'),
 ('2010-05-22'),
 ('2010-05-23'),
 ('2010-05-24'),
 ('2010-05-25'),
 ('2010-05-26'),
 ('2010-05-27'),
 ('2010-05-28'),
 ('2010-05-29'),
 ('2010-05-30'),
 ('2010-05-31'),
 ('2010-06-01'),
 ('2010-06-02'),
 ('2010-06-03'),
 ('2010-06-04'),
 ('2010-06-05'),
 ('2010-06-06'),
 ('2010-06-07'),
 ('2010-06-08'),
 ('2010-06-09'),
 ('2010-06-10'),
 ('2010-06-11'),
 ('2010-06-12'),
 ('2010-06-13'),
 ('2010-06-14'),
 ('2010-06-15'),
 ('2010-06-16'),
 ('2010-06-17'),
 ('2010-06-18'),
 ('2010-06-19'),
 ('2010-06-20'),
 ('2010-06-21'),
 ('2010-06-22'),
 ('2010-06-23'),
 ('2010-06-24'),
 ('2010-06-25'),
 ('2010-06-26'),
 ('2010-06-27'),
 ('2010-06-28'),
 ('2010-06-29'),
 ('2010-06-30'),
 ('2010-07-01'),
 ('2010-07-02'),
 ('2010-07-03'),
 ('2010-07-04'),
 ('2010-07-05'),
 ('2010-07-06'),
 ('2010-07-07'),
 ('2010-07-08'),
 ('2010-07-09'),
 ('2010-07-10'),
 ('2010-07-11'),
 ('2010-07-12'),
 ('2010-07-13'),
 ('2010-07-16'),
 ('2010-07-17'),
 ('2010-07-18'),
 ('2010-07-19'),
 ('2010-07-21'),
 ('2010-07-22'),
 ('2010-07-24'),
 ('2010-07-25'),
 ('2010-07-26'),
 ('2010-07-27'),
 ('2010-07-28'),
 ('2010-07-29'),
 ('2010-07-30'),
 ('2010-07-31'),
 ('2010-08-01'),
 ('2010-08-02'),
 ('2010-08-03'),
 ('2010-08-04'),
 ('2010-08-05'),
 ('2010-08-06'),
 ('2010-08-07'),
 ('2010-08-08'),
 ('2010-08-09'),
 ('2010-08-10'),
 ('2010-08-11'),
 ('2010-08-12'),
 ('2010-08-13'),
 ('2010-08-14'),
 ('2010-08-15'),
 ('2010-08-16'),
 ('2010-08-17'),
 ('2010-08-18'),
 ('2010-08-19'),
 ('2010-08-20'),
 ('2010-08-21'),
 ('2010-08-22'),
 ('2010-08-23'),
 ('2010-08-24'),
 ('2010-08-25'),
 ('2010-08-26'),
 ('2010-08-27'),
 ('2010-08-28'),
 ('2010-08-29'),
 ('2010-08-30'),
 ('2010-08-31'),
 ('2010-09-01'),
 ('2010-09-02'),
 ('2010-09-03'),
 ('2010-09-04'),
 ('2010-09-05'),
 ('2010-09-06'),
 ('2010-09-07'),
 ('2010-09-08'),
 ('2010-09-09'),
 ('2010-09-10'),
 ('2010-09-11'),
 ('2010-09-12'),
 ('2010-09-13'),
 ('2010-09-14'),
 ('2010-09-15'),
 ('2010-09-16'),
 ('2010-09-17'),
 ('2010-09-19'),
 ('2010-09-20'),
 ('2010-09-21'),
 ('2010-09-22'),
 ('2010-09-23'),
 ('2010-09-24'),
 ('2010-09-25'),
 ('2010-09-26'),
 ('2010-09-27'),
 ('2010-09-28'),
 ('2010-09-29'),
 ('2010-09-30'),
 ('2010-10-01'),
 ('2010-10-02'),
 ('2010-10-03'),
 ('2010-10-04'),
 ('2010-10-05'),
 ('2010-10-06'),
 ('2010-10-07'),
 ('2010-10-08'),
 ('2010-10-09'),
 ('2010-10-10'),
 ('2010-10-11'),
 ('2010-10-12'),
 ('2010-10-13'),
 ('2010-10-15'),
 ('2010-10-16'),
 ('2010-10-17'),
 ('2010-10-18'),
 ('2010-10-19'),
 ('2010-10-20'),
 ('2010-10-21'),
 ('2010-10-22'),
 ('2010-10-23'),
 ('2010-10-24'),
 ('2010-10-25'),
 ('2010-10-26'),
 ('2010-10-27'),
 ('2010-10-28'),
 ('2010-10-29'),
 ('2010-10-30'),
 ('2010-10-31'),
 ('2010-11-01'),
 ('2010-11-02'),
 ('2010-11-04'),
 ('2010-11-05'),
 ('2010-11-06'),
 ('2010-11-07'),
 ('2010-11-08'),
 ('2010-11-09'),
 ('2010-11-10'),
 ('2010-11-11'),
 ('2010-11-12'),
 ('2010-11-13'),
 ('2010-11-16'),
 ('2010-11-17'),
 ('2010-11-19'),
 ('2010-11-20'),
 ('2010-11-21'),
 ('2010-11-22'),
 ('2010-11-23'),
 ('2010-11-24'),
 ('2010-11-25'),
 ('2010-11-27'),
 ('2010-11-28'),
 ('2010-11-29'),
 ('2010-11-30'),
 ('2010-12-01'),
 ('2010-12-03'),
 ('2010-12-04'),
 ('2010-12-06'),
 ('2010-12-07'),
 ('2010-12-08'),
 ('2010-12-09'),
 ('2010-12-10'),
 ('2010-12-11'),
 ('2010-12-12'),
 ('2010-12-13'),
 ('2010-12-14'),
 ('2010-12-15'),
 ('2010-12-16'),
 ('2010-12-17'),
 ('2010-12-18'),
 ('2010-12-19'),
 ('2010-12-23'),
 ('2010-12-24'),
 ('2010-12-26'),
 ('2010-12-27'),
 ('2010-12-28'),
 ('2010-12-29'),
 ('2010-12-30'),
 ('2010-12-31'),
 ('2011-01-01'),
 ('2011-01-02'),
 ('2011-01-03'),
 ('2011-01-04'),
 ('2011-01-05'),
 ('2011-01-06'),
 ('2011-01-07'),
 ('2011-01-08'),
 ('2011-01-09'),
 ('2011-01-10'),
 ('2011-01-11'),
 ('2011-01-13'),
 ('2011-01-14'),
 ('2011-01-15'),
 ('2011-01-16'),
 ('2011-01-17'),
 ('2011-01-18'),
 ('2011-01-19'),
 ('2011-01-20'),
 ('2011-01-21'),
 ('2011-01-22'),
 ('2011-01-23'),
 ('2011-01-24'),
 ('2011-01-25'),
 ('2011-01-27'),
 ('2011-01-28'),
 ('2011-01-29'),
 ('2011-01-30'),
 ('2011-01-31'),
 ('2011-02-01'),
 ('2011-02-02'),
 ('2011-02-03'),
 ('2011-02-04'),
 ('2011-02-05'),
 ('2011-02-06'),
 ('2011-02-07'),
 ('2011-02-08'),
 ('2011-02-09'),
 ('2011-02-10'),
 ('2011-02-12'),
 ('2011-02-13'),
 ('2011-02-14'),
 ('2011-02-15'),
 ('2011-02-16'),
 ('2011-02-19'),
 ('2011-02-20'),
 ('2011-02-21'),
 ('2011-02-22'),
 ('2011-02-23'),
 ('2011-02-24'),
 ('2011-02-25'),
 ('2011-02-26'),
 ('2011-02-27'),
 ('2011-02-28'),
 ('2011-03-01'),
 ('2011-03-02'),
 ('2011-03-03'),
 ('2011-03-04'),
 ('2011-03-05'),
 ('2011-03-06'),
 ('2011-03-08'),
 ('2011-03-09'),
 ('2011-03-10'),
 ('2011-03-12'),
 ('2011-03-13'),
 ('2011-03-14'),
 ('2011-03-16'),
 ('2011-03-17'),
 ('2011-03-18'),
 ('2011-03-19'),
 ('2011-03-20'),
 ('2011-03-21'),
 ('2011-03-22'),
 ('2011-03-23'),
 ('2011-03-24'),
 ('2011-03-25'),
 ('2011-03-26'),
 ('2011-03-27'),
 ('2011-03-28'),
 ('2011-03-30'),
 ('2011-03-31'),
 ('2011-04-01'),
 ('2011-04-02'),
 ('2011-04-03'),
 ('2011-04-04'),
 ('2011-04-05'),
 ('2011-04-06'),
 ('2011-04-07'),
 ('2011-04-08'),
 ('2011-04-09'),
 ('2011-04-10'),
 ('2011-04-11'),
 ('2011-04-12'),
 ('2011-04-13'),
 ('2011-04-15'),
 ('2011-04-16'),
 ('2011-04-17'),
 ('2011-04-18'),
 ('2011-04-19'),
 ('2011-04-20'),
 ('2011-04-21'),
 ('2011-04-22'),
 ('2011-04-23'),
 ('2011-04-24'),
 ('2011-04-25'),
 ('2011-04-26'),
 ('2011-04-27'),
 ('2011-04-29'),
 ('2011-04-30'),
 ('2011-05-01'),
 ('2011-05-02'),
 ('2011-05-03'),
 ('2011-05-04'),
 ('2011-05-05'),
 ('2011-05-06'),
 ('2011-05-07'),
 ('2011-05-08'),
 ('2011-05-09'),
 ('2011-05-10'),
 ('2011-05-11'),
 ('2011-05-12'),
 ('2011-05-13'),
 ('2011-05-14'),
 ('2011-05-15'),
 ('2011-05-16'),
 ('2011-05-17'),
 ('2011-05-18'),
 ('2011-05-19'),
 ('2011-05-20'),
 ('2011-05-21'),
 ('2011-05-22'),
 ('2011-05-23'),
 ('2011-05-24'),
 ('2011-05-25'),
 ('2011-05-26'),
 ('2011-05-27'),
 ('2011-05-28'),
 ('2011-05-29'),
 ('2011-05-30'),
 ('2011-05-31'),
 ('2011-06-01'),
 ('2011-06-02'),
 ('2011-06-03'),
 ('2011-06-04'),
 ('2011-06-05'),
 ('2011-06-06'),
 ('2011-06-07'),
 ('2011-06-08'),
 ('2011-06-09'),
 ('2011-06-10'),
 ('2011-06-11'),
 ('2011-06-12'),
 ('2011-06-13'),
 ('2011-06-14'),
 ('2011-06-15'),
 ('2011-06-17'),
 ('2011-06-18'),
 ('2011-06-19'),
 ('2011-06-20'),
 ('2011-06-21'),
 ('2011-06-24'),
 ('2011-06-25'),
 ('2011-06-26'),
 ('2011-06-27'),
 ('2011-06-28'),
 ('2011-06-29'),
 ('2011-07-01'),
 ('2011-07-02'),
 ('2011-07-03'),
 ('2011-07-04'),
 ('2011-07-05'),
 ('2011-07-06'),
 ('2011-07-07'),
 ('2011-07-08'),
 ('2011-07-09'),
 ('2011-07-10'),
 ('2011-07-11'),
 ('2011-07-12'),
 ('2011-07-13'),
 ('2011-07-14'),
 ('2011-07-15'),
 ('2011-07-16'),
 ('2011-07-17'),
 ('2011-07-18'),
 ('2011-07-19'),
 ('2011-07-20'),
 ('2011-07-21'),
 ('2011-07-23'),
 ('2011-07-24'),
 ('2011-07-25'),
 ('2011-07-26'),
 ('2011-07-27'),
 ('2011-07-28'),
 ('2011-07-29'),
 ('2011-07-30'),
 ('2011-07-31'),
 ('2011-08-01'),
 ('2011-08-02'),
 ('2011-08-03'),
 ('2011-08-04'),
 ('2011-08-05'),
 ('2011-08-06'),
 ('2011-08-07'),
 ('2011-08-08'),
 ('2011-08-09'),
 ('2011-08-11'),
 ('2011-08-12'),
 ('2011-08-13'),
 ('2011-08-14'),
 ('2011-08-15'),
 ('2011-08-16'),
 ('2011-08-17'),
 ('2011-08-18'),
 ('2011-08-19'),
 ('2011-08-20'),
 ('2011-08-21'),
 ('2011-08-22'),
 ('2011-08-23'),
 ('2011-08-24'),
 ('2011-08-25'),
 ('2011-08-26'),
 ('2011-08-27'),
 ('2011-08-28'),
 ('2011-08-29'),
 ('2011-08-30'),
 ('2011-08-31'),
 ('2011-09-02'),
 ('2011-09-03'),
 ('2011-09-04'),
 ('2011-09-05'),
 ('2011-09-06'),
 ('2011-09-07'),
 ('2011-09-08'),
 ('2011-09-09'),
 ('2011-09-10'),
 ('2011-09-11'),
 ('2011-09-12'),
 ('2011-09-13'),
 ('2011-09-14'),
 ('2011-09-15'),
 ('2011-09-16'),
 ('2011-09-17'),
 ('2011-09-18'),
 ('2011-09-19'),
 ('2011-09-20'),
 ('2011-09-21'),
 ('2011-09-22'),
 ('2011-09-23'),
 ('2011-09-24'),
 ('2011-09-25'),
 ('2011-09-26'),
 ('2011-09-27'),
 ('2011-09-28'),
 ('2011-10-01'),
 ('2011-10-02'),
 ('2011-10-03'),
 ('2011-10-05'),
 ('2011-10-06'),
 ('2011-10-07'),
 ('2011-10-08'),
 ('2011-10-09'),
 ('2011-10-10'),
 ('2011-10-11'),
 ('2011-10-12'),
 ('2011-10-13'),
 ('2011-10-14'),
 ('2011-10-15'),
 ('2011-10-16'),
 ('2011-10-17'),
 ('2011-10-18'),
 ('2011-10-19'),
 ('2011-10-20'),
 ('2011-10-21'),
 ('2011-10-22'),
 ('2011-10-23'),
 ('2011-10-24'),
 ('2011-10-25'),
 ('2011-10-26'),
 ('2011-10-27'),
 ('2011-10-28'),
 ('2011-10-29'),
 ('2011-10-30'),
 ('2011-10-31'),
 ('2011-11-01'),
 ('2011-11-02'),
 ('2011-11-03'),
 ('2011-11-04'),
 ('2011-11-05'),
 ('2011-11-06'),
 ('2011-11-07'),
 ('2011-11-08'),
 ('2011-11-09'),
 ('2011-11-10'),
 ('2011-11-11'),
 ('2011-11-12'),
 ('2011-11-13'),
 ('2011-11-14'),
 ('2011-11-15'),
 ('2011-11-16'),
 ('2011-11-17'),
 ('2011-11-18'),
 ('2011-11-19'),
 ('2011-11-20'),
 ('2011-11-21'),
 ('2011-11-22'),
 ('2011-11-23'),
 ('2011-11-24'),
 ('2011-11-25'),
 ('2011-11-26'),
 ('2011-11-27'),
 ('2011-11-28'),
 ('2011-11-29'),
 ('2011-11-30'),
 ('2011-12-01'),
 ('2011-12-02'),
 ('2011-12-03'),
 ('2011-12-04'),
 ('2011-12-05'),
 ('2011-12-06'),
 ('2011-12-07'),
 ('2011-12-08'),
 ('2011-12-09'),
 ('2011-12-10'),
 ('2011-12-11'),
 ('2011-12-12'),
 ('2011-12-13'),
 ('2011-12-14'),
 ('2011-12-15'),
 ('2011-12-16'),
 ('2011-12-17'),
 ('2011-12-18'),
 ('2011-12-19'),
 ('2011-12-20'),
 ('2011-12-21'),
 ('2011-12-22'),
 ('2011-12-23'),
 ('2011-12-24'),
 ('2011-12-25'),
 ('2011-12-26'),
 ('2011-12-27'),
 ('2011-12-28'),
 ('2011-12-29'),
 ('2011-12-30'),
 ('2011-12-31'),
 ('2012-01-01'),
 ('2012-01-02'),
 ('2012-01-03'),
 ('2012-01-04'),
 ('2012-01-06'),
 ('2012-01-07'),
 ('2012-01-08'),
 ('2012-01-10'),
 ('2012-01-11'),
 ('2012-01-12'),
 ('2012-01-14'),
 ('2012-01-15'),
 ('2012-01-16'),
 ('2012-01-17'),
 ('2012-01-18'),
 ('2012-01-19'),
 ('2012-01-20'),
 ('2012-01-21'),
 ('2012-01-22'),
 ('2012-01-23'),
 ('2012-01-24'),
 ('2012-01-25'),
 ('2012-01-26'),
 ('2012-01-27'),
 ('2012-01-28'),
 ('2012-01-29'),
 ('2012-01-30'),
 ('2012-01-31'),
 ('2012-02-01'),
 ('2012-02-02'),
 ('2012-02-03'),
 ('2012-02-04'),
 ('2012-02-05'),
 ('2012-02-06'),
 ('2012-02-07'),
 ('2012-02-08'),
 ('2012-02-09'),
 ('2012-02-10'),
 ('2012-02-11'),
 ('2012-02-12'),
 ('2012-02-13'),
 ('2012-02-14'),
 ('2012-02-15'),
 ('2012-02-16'),
 ('2012-02-17'),
 ('2012-02-18'),
 ('2012-02-19'),
 ('2012-02-20'),
 ('2012-02-21'),
 ('2012-02-22'),
 ('2012-02-23'),
 ('2012-02-24'),
 ('2012-02-25'),
 ('2012-02-26'),
 ('2012-02-27'),
 ('2012-02-28'),
 ('2012-02-29'),
 ('2012-03-01'),
 ('2012-03-02'),
 ('2012-03-03'),
 ('2012-03-04'),
 ('2012-03-05'),
 ('2012-03-06'),
 ('2012-03-07'),
 ('2012-03-08'),
 ('2012-03-09'),
 ('2012-03-10'),
 ('2012-03-11'),
 ('2012-03-12'),
 ('2012-03-13'),
 ('2012-03-14'),
 ('2012-03-15'),
 ('2012-03-16'),
 ('2012-03-17'),
 ('2012-03-18'),
 ('2012-03-19'),
 ('2012-03-20'),
 ('2012-03-21'),
 ('2012-03-22'),
 ('2012-03-23'),
 ('2012-03-24'),
 ('2012-03-25'),
 ('2012-03-26'),
 ('2012-03-27'),
 ('2012-03-28'),
 ('2012-03-29'),
 ('2012-03-30'),
 ('2012-03-31'),
 ('2012-04-01'),
 ('2012-04-02'),
 ('2012-04-03'),
 ('2012-04-04'),
 ('2012-04-05'),
 ('2012-04-06'),
 ('2012-04-07'),
 ('2012-04-08'),
 ('2012-04-09'),
 ('2012-04-10'),
 ('2012-04-11'),
 ('2012-04-12'),
 ('2012-04-13'),
 ('2012-04-14'),
 ('2012-04-15'),
 ('2012-04-16'),
 ('2012-04-17'),
 ('2012-04-18'),
 ('2012-04-19'),
 ('2012-04-20'),
 ('2012-04-21'),
 ('2012-04-22'),
 ('2012-04-23'),
 ('2012-04-24'),
 ('2012-04-25'),
 ('2012-04-26'),
 ('2012-04-27'),
 ('2012-04-28'),
 ('2012-04-29'),
 ('2012-04-30'),
 ('2012-05-01'),
 ('2012-05-02'),
 ('2012-05-03'),
 ('2012-05-04'),
 ('2012-05-05'),
 ('2012-05-06'),
 ('2012-05-07'),
 ('2012-05-08'),
 ('2012-05-09'),
 ('2012-05-10'),
 ('2012-05-11'),
 ('2012-05-12'),
 ('2012-05-13'),
 ('2012-05-14'),
 ('2012-05-15'),
 ('2012-05-16'),
 ('2012-05-17'),
 ('2012-05-18'),
 ('2012-05-19'),
 ('2012-05-20'),
 ('2012-05-21'),
 ('2012-05-22'),
 ('2012-05-23'),
 ('2012-05-24'),
 ('2012-05-25'),
 ('2012-05-26'),
 ('2012-05-27'),
 ('2012-05-28'),
 ('2012-05-29'),
 ('2012-05-30'),
 ('2012-05-31'),
 ('2012-06-01'),
 ('2012-06-02'),
 ('2012-06-03'),
 ('2012-06-04'),
 ('2012-06-05'),
 ('2012-06-06'),
 ('2012-06-07'),
 ('2012-06-08'),
 ('2012-06-09'),
 ('2012-06-10'),
 ('2012-06-11'),
 ('2012-06-12'),
 ('2012-06-13'),
 ('2012-06-14'),
 ('2012-06-15'),
 ('2012-06-16'),
 ('2012-06-17'),
 ('2012-06-18'),
 ('2012-06-19'),
 ('2012-06-20'),
 ('2012-06-21'),
 ('2012-06-22'),
 ('2012-06-23'),
 ('2012-06-24'),
 ('2012-06-25'),
 ('2012-06-26'),
 ('2012-06-27'),
 ('2012-06-28'),
 ('2012-06-29'),
 ('2012-06-30'),
 ('2012-07-01'),
 ('2012-07-02'),
 ('2012-07-03'),
 ('2012-07-04'),
 ('2012-07-05'),
 ('2012-07-06'),
 ('2012-07-07'),
 ('2012-07-08'),
 ('2012-07-09'),
 ('2012-07-10'),
 ('2012-07-11'),
 ('2012-07-12'),
 ('2012-07-13'),
 ('2012-07-14'),
 ('2012-07-15'),
 ('2012-07-16'),
 ('2012-07-17'),
 ('2012-07-18'),
 ('2012-07-19'),
 ('2012-07-20'),
 ('2012-07-21'),
 ('2012-07-22'),
 ('2012-07-23'),
 ('2012-07-24'),
 ('2012-07-25'),
 ('2012-07-26'),
 ('2012-07-27'),
 ('2012-07-28'),
 ('2012-07-29'),
 ('2012-07-30'),
 ('2012-07-31'),
 ('2012-08-01'),
 ('2012-08-02'),
 ('2012-08-03'),
 ('2012-08-04'),
 ('2012-08-05'),
 ('2012-08-06'),
 ('2012-08-07'),
 ('2012-08-08'),
 ('2012-08-09'),
 ('2012-08-10'),
 ('2012-08-11'),
 ('2012-08-12'),
 ('2012-08-13'),
 ('2012-08-14'),
 ('2012-08-15'),
 ('2012-08-16'),
 ('2012-08-17'),
 ('2012-08-18'),
 ('2012-08-19'),
 ('2012-08-20'),
 ('2012-08-21'),
 ('2012-08-22'),
 ('2012-08-23'),
 ('2012-08-24'),
 ('2012-08-25'),
 ('2012-08-26'),
 ('2012-08-27'),
 ('2012-08-28'),
 ('2012-08-29'),
 ('2012-08-30'),
 ('2012-08-31'),
 ('2012-09-01'),
 ('2012-09-02'),
 ('2012-09-03'),
 ('2012-09-04'),
 ('2012-09-05'),
 ('2012-09-06'),
 ('2012-09-07'),
 ('2012-09-08'),
 ('2012-09-09'),
 ('2012-09-10'),
 ('2012-09-11'),
 ('2012-09-12'),
 ('2012-09-13'),
 ('2012-09-14'),
 ('2012-09-15'),
 ('2012-09-16'),
 ('2012-09-17'),
 ('2012-09-18'),
 ('2012-09-19'),
 ('2012-09-20'),
 ('2012-09-21'),
 ('2012-09-22'),
 ('2012-09-23'),
 ('2012-09-24'),
 ('2012-09-25'),
 ('2012-09-26'),
 ('2012-09-27'),
 ('2012-09-28'),
 ('2012-09-29'),
 ('2012-09-30'),
 ('2012-10-01'),
 ('2012-10-02'),
 ('2012-10-03'),
 ('2012-10-04'),
 ('2012-10-05'),
 ('2012-10-06'),
 ('2012-10-07'),
 ('2012-10-08'),
 ('2012-10-09'),
 ('2012-10-10'),
 ('2012-10-11'),
 ('2012-10-12'),
 ('2012-10-13'),
 ('2012-10-14'),
 ('2012-10-15'),
 ('2012-10-16'),
 ('2012-10-17'),
 ('2012-10-18'),
 ('2012-10-19'),
 ('2012-10-20'),
 ('2012-10-21'),
 ('2012-10-22'),
 ('2012-10-23'),
 ('2012-10-24'),
 ('2012-10-25'),
 ('2012-10-26'),
 ('2012-10-27'),
 ('2012-10-28'),
 ('2012-10-29'),
 ('2012-10-30'),
 ('2012-10-31'),
 ('2012-11-01'),
 ('2012-11-02'),
 ('2012-11-03'),
 ('2012-11-04'),
 ('2012-11-05'),
 ('2012-11-06'),
 ('2012-11-07'),
 ('2012-11-08'),
 ('2012-11-09'),
 ('2012-11-10'),
 ('2012-11-11'),
 ('2012-11-12'),
 ('2012-11-13'),
 ('2012-11-14'),
 ('2012-11-15'),
 ('2012-11-16'),
 ('2012-11-17'),
 ('2012-11-18'),
 ('2012-11-19'),
 ('2012-11-20'),
 ('2012-11-21'),
 ('2012-11-22'),
 ('2012-11-23'),
 ('2012-11-24'),
 ...]

# Exploratory Climate Analysis

In [88]:
data_msmt_dates = data_msmt.sort_values("date", ascending=False)
data_msmt_dates.head()

          id      station        date  prcp  tobs
19549  19550  USC00516128  2017-08-23  0.45  76.0
12186  12187  USC00519523  2017-08-23  0.08  82.0
2723    2724  USC00519397  2017-08-23  0.00  81.0
7634    7635  USC00514830  2017-08-23  0.00  82.0
12185  12186  USC00519523  2017-08-22  0.00  82.0

In [94]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# date 2017-08-23
# prcp
# Calculate the date 1 year ago from the last data point in the database
# 10.3.3
# https://docs.sqlalchemy.org/en/13/core/type_basics.html?highlight=timedelta
# https://www.geeksforgeeks.org/python-datetime-timedelta-function/
last_date = dt.datetime(2017, 8, 23)
last_twelve_mos = last_date - dt.timedelta(days = 360)
# Perform a query to retrieve the data and precipitation scores
twelve_mos_precip = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= last_twelve_mos).all()
# Save the query results as a Pandas DataFrame and set the index to the date column
# precip_df = pd.DataFrame(twelve_mos_precip.date, twelve_mos_precip.prcp)
precip_df = pd.DataFrame(twelve_mos_precip)
precip_df.set_index(precip_df['date'])

# precip_sorted_df = precip_df.sort_values("date", ascending=True)

# precip_sorted_df
# # pd.read_sql(session.query(twelve_mos_precip))
# # pd.read_sql(session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= last_twelve_mos).all())
# # # TypeError: read_sql() missing 1 required positional argument: 'con'


# # Sort the dataframe by date

# data_msmt_dates = data.sort_index("date", ascending=False)



# Use Pandas Plotting with Matplotlib to plot the data

                  date  prcp
date
2016-08-29  2016-08-29  0.00
2016-08-30  2016-08-30  0.00
2016-08-31  2016-08-31  0.13
2016-09-01  2016-09-01  0.00
2016-09-02  2016-09-02  0.00
...                ...   ...
2017-08-19  2017-08-19  0.09
2017-08-20  2017-08-20   NaN
2017-08-21  2017-08-21  0.56
2017-08-22  2017-08-22  0.50
2017-08-23  2017-08-23  0.45

[2191 rows x 2 columns]

In [27]:
# Use Pandas to calcualte the summary statistics for the precipitation data
pd.DataFrame.describe(data_msmt)

                 id          prcp          tobs
count  19550.000000  18103.000000  19550.000000
mean    9775.500000      0.160644     73.097954
std     5643.743217      0.468746      4.523527
min        1.000000      0.000000     53.000000
25%     4888.250000      0.000000     70.000000
50%     9775.500000      0.010000     73.000000
75%    14662.750000      0.110000     76.000000
max    19550.000000     11.530000     87.000000

In [33]:
# Design a query to show how many stations are available in this dataset?
query = session.query(Measurement.station.distinct().label("station"))
station_unique = [row.station for row in query.all()]
station_unique

['USC00519397',
 'USC00513117',
 'USC00514830',
 'USC00517948',
 'USC00518838',
 'USC00519523',
 'USC00519281',
 'USC00511918',
 'USC00516128']

In [35]:
session.query(Measurement.station).distinct().count()

9

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`